* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans";
  }
  header {
    background-color: rgb(24, 26, 51);
    color: white;
    height: 80px;
    text-align: right;
    line-height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .btn-white {
    color: white;
    background-color: rgb(24, 26, 51);
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 16%;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  .nav-container {
    
    width: 200px;
    background-color: black;
    color: white;
    position: relative;
    z-index: 2;
  }
  .navbar {
    flex-direction: column;
    justify-content: space-between;
  }
  .flex {
    display: flex;
  }
  
  main{
      height: calc(100vh - 160px);
      width: 100%;
      background-color: rgb(25, 25, 109);
      color: white;
  }

  footer{
    background-color: rgb(79, 80, 85);
    color: white;
    height: 80px;
    text-align: right;
    line-height: 80px;
    position: sticky;
    bottom:  0;
    left: 0;
    z-index: 2;
  } 